TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=shouldbeanicesecretplsreplaceme
NODE_ENV=development
WEBSITE=http://127.0.0.1:3000/ # Frontend domain
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=app
S3_ENDPOINT=http://objectstore:8333
S3_REGION=your-region
S3_USERDATA_BUCKET=userdata
S3_KEY_ID=notvery
S3_SECRET=secret
S3_BUCKET=app
SESSION_DRIVER=cookie
DISCORD_CLIENT_ID=someclientid
DISCORD_CLIENT_SECRET=someclientsecret
GITHUB_CLIENT_ID=someclientid
GITHUB_CLIENT_SECRET=someclientsecret
DRIVE_DISK=s3
MAIL_MAILER=smtp
MAIL_FROM_NAME=xContest Automated Mailer
MAIL_FROM_ADDRESS=noreply@local.host
SMTP_HOST=local.host
SMTP_PORT=465
SMTP_USERNAME=noreply@local.host
SMTP_PASSWORD=localpassword
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=thisisaverysecurepassword